@import url(./fonts.css);

/* CUSTOM-PROPS */

:root {
    --orange: #F16718;
    --light-orange: #FF9B62;
    --dark-blue: #162542;
    --light-blue: #7B8BAD;
    --light: #E8EFF2;
    --white: #fff;
    --black: #000;
    --Barlow: "Barlow";
}

/* //CUSTOM-PROPS */


/* GLOBAL-STYLES */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    position: relative;
}

/* //GLOBAL-STYLES */


/* HEADER-HERO */

/* Header */
.navbar {
    padding: unset !important;
}

.header {
    padding-top: 30px;
    padding-bottom: 80px;
}

.navbar-btn {
    padding: 16px 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--light);
    color: var(--dark-blue);
    font-family: var(--Barlow);
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    transition: .4s;
}

.navbar-btn:hover {
    background-color: var(--dark-blue);
    color: var(--white) !important;
}

/* //Header */


/* Hero */
.site-hero {
    padding-bottom: 30px;
}

.hero-desc__title {
    color: var(--dark-blue);
    font-family: var(--Barlow);
    font-size: 56px;
    font-weight: 900;
    line-height: 56px;
    text-transform: uppercase;
    margin: 0 !important;
}

.hero-desc__text {
    max-width: 445px;
    width: 100%;
    color: var(--light-blue);
    font-family: var(--Barlow);
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 40px !important;
}

.hero-btn {
    column-gap: 40px;
}

.hero-desc__btn-dark {
    background-color: var(--orange) !important;
    color: var(--white) !important;
}

.hero-desc__btn-dark:active {
    background-color: var(--light-orange) !important;
}

.hero-desc__btn {
    color: var(--light-blue);
    font-family: var(--Barlow);
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.hero-desc__btn:hover {
    color: var(--light-blue);
}

/* .hero-image {
    position: relative;
} */

.hero-image::after {
    content: "";
    display: block;
    width: 255px;
    height: 255px;
    flex-shrink: 0;
    overflow: hidden;
    position: absolute;
    border-radius: 20px;
    background-color: var(--light);
    top: 185px;
    right: -120px;
}

/* //Hero */

/* //HEADER-HERO */


/* ABOUT-SECTION */

.about {
    padding-bottom: 160px;
}

.about::before {
    content: "";
    display: block;
    width: 255px;
    height: 255px;
    flex-shrink: 0;
    overflow: hidden;
    position: absolute;
    border-radius: 20px;
    background-color: var(--light);
    top: 935px;
    left: -120px;
}

.about-sm-img {
    margin-right: 60px;
    position: relative;
}

.about-content {
    position: absolute;
    top: 0;
    right: -47px;
    width: 255px;
    height: 100%;
    border-radius: 20px;
    background-color: #f16818c2;
}

.about-image-keyboard {
    display: block;
    border-radius: 20px;
}

.about-md-img {
    max-width: 600px;
    width: 100%;
}

.about-image-laptop {
    display: block;
    border-radius: 20px;
}

.about-desc {
    padding-left: 110px !important;
}

.about-desc__title {
    max-width: 255px;
    width: 100%;
    color: var(--dark-blue);
    font-family: var(--Barlow);
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.about-desc__text,
.card-text {
    max-width: 255px;
    width: 100%;
    color: var(--light-blue);
    font-family: var(--Barlow);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

/* //ABOUT-SECTION */


/* CARDS-SECTION */
.cards {
    padding-bottom: 128px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
}

.card-img {
    width: 65px !important;
    height: 65px !important;
}

.card-title {
    max-width: 200px;
    width: 100%;
    margin-top: 48px;
    margin-bottom: 24px;
    color: var(--dark-blue);
    font-family: var(--Barlow);
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    text-transform: uppercase;
}

/* //CARDS-SECTION */


/* FOOTER */
.footer {
    padding-bottom: 39px;
}

.footer-text__desc {
    color: var(--light-blue);
    font-family: var(--Barlow);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.footer-text__mark {
    font-weight: 700;
}

/* //FOOTER */